name: Publish to PyPI

on:
  workflow_dispatch:

env:
    PYTHON_VERSION: "3.12"

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    environment: release
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip 
        pip install hatch
    # It's better to separate these steps, but the project is pretty small for now
    - name: Build package
      run: hatch build
    - name: Test package
      run: hatch run +py=${{ env.PYTHON_VERSION }} test:test
    - name: Push Python artifacts to PyPI
      uses: pypa/gh-action-pypi-publish@v1.12.4
      with:
        skip-existing: true
